.reject-wrapper {
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  padding: 20px;
}

.cross-box {
  margin-bottom: 30px;
}

.reject-text {
  font-size: 30px;
  text-align: center;
  color: #000;
  line-height: 1.4;
  font-weight: 500;
}
