@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #8ec5fc;
}

/* Navbar */
.navbar {
  background: #4a90e2;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 28px;
  height: 28px;
}

.brand {
  font-weight: 600;
  font-size: 18px;
}

.navbar-center a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
  padding-bottom: 3px;
  transition: all 0.3s ease;
}

.navbar-center a.active,
.navbar-center a:hover {
  border-bottom: 2px solid #f7c500;
}

.navbar-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon,
.profile {
  background: rgb(255, 255, 255);
  color: black;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dashboard-risk-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Breadcrumb */
.breadcrumb {
  background-color: white;
  margin: 30px 100px;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 14px;
}

/* Content box */
.content-box {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}

.content-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}

.risk-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.risk-itempp {
  width: 100%;
  background-color: #e8f1fc;
  border-radius: 8px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.risk-name {
  font-weight: 600;
  color: #1b1b1b;
}

.risk-button {
  background-color: #004ad9;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  font-weight: 600;
  cursor: pointer;
}

.risk-button:hover {
  background-color: #003cb5;
}
