/* ========== BASE ========== */
.asset-container {
  background-color: #e8f0fb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  font-family: "Poppins", sans-serif;
  position: relative;
}

/* ========== PROGRESS BAR ========== */
.progress-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;
  width: 100%;
  max-width: 900px;
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.icon-box {
  width: 61px;
  height: 53px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.active-bg {
  background-color: #0845c9;
}

.inactive-bg {
  background-color: rgba(170, 193, 215, 0.26);
}

.progress-wrapper .connector {
  flex-grow: 1;
  height: 4px;
  margin-top: -35px; /* biar garis nyambung ke tengah icon */
  z-index: 1;
  min-width: 150px;
}

.active-connector {
  background-color: #253d90;
}

.inactive-connector {
  background-color: rgba(170, 193, 215, 0.26);
}

/* ========== FORM ========== */
.asset-form {
  display: flex;
  flex-direction: column;
  width: 1205px;
  gap: 18px;
}

.asset-form label {
  font-size: 13px;
  color: #333;
}

.asset-form input {
  width: 100%;
  height: 52px;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
  background-color: #ffffff;
  font-size: 15px;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-btn {
  width: 100%;
  height: 52px;
  background-color: #ffffff;
  color: #333;
  padding: 0 18px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.dropdown-btn:hover {
  background-color: #f0f4ff;
}

.dropdown-btn span {
  transition: transform 0.3s ease;
}

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 120%;
  left: 0;
  background-color: #fff;
  border-radius: 6px;
  min-width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 10;
}

.dropdown-content a {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
}

.dropdown-content a:last-child {
  border-bottom: none;
}

.dropdown-content a:hover {
  background-color: #f0f4ff;
}

.dropdown-content.show {
  opacity: 1;
  visibility: visible;
  top: 110%;
}

.dropdown.show .dropdown-btn span {
  transform: rotate(180deg);
}
